@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');



.cc-navbar {
    font-family: 'Ubuntu Mono', serif;
    background-color: rgba(0, 0, 0, 0.55);
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
    z-index: 99;
}

.btn-order {
    color: var(--bs-teal);
    border-color: var(--bs-teal);
    transition: 0.5s;
}

.btn-order:hover,
.btn-order:active {
    color: #fff;
    background-color: var(--bs-teal) ;
}

.cc-navbar 
.nav-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}

.cc-navbar 
.nav-link:hover {
   padding-bottom: 20px;
   border-bottom-color: var(--bs-teal);
}

.banner {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/main-pic.jpg) 
    center center fixed no-repeat;
    height:800px;
    background-size: contain;
}

.banner .banner-desc {
    font-size: 28px;
    color: #fff;
    font-weight: 400;
}

.cc-menu {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/section-pic.jpg) 
    center center fixed no-repeat;
    height:1200px;
    background-size: cover;
}

.resize-img {
    height: 400px;
}